body {
    background-color: #f7d4ff;
    font-family: 'Berkshire Swash', cursive;
}


.cat {
    display : block;
    margin : auto;
    width: 400px;
    height: 400px;
    animation: tossing 5s;
    animation-iteration-count: infinite;
    border: 5px solid #ffffff;
}

h1, h3 {
    padding-top: 20px;
    color: #ff78cc;
    text-align: center;
}

h2 {

    color: #ff78cc;
    text-align: center;
}
